---
import App from "../components/app.svelte"
import favicon from "../favicon.svg?url"
---
<html lang="en">
	<head>
		<title>Astro Multiplayer Globe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href={favicon}/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"/>
		<style is:global>
			html,
			body {
				margin: 0;
				background: black;
				color: white;
				font-family: 'Public Sans', sans-serif;
				text-align: center;
				line-height: 1.5;
				font-size: 16px;
			}

			.github-fork-ribbon:before {
				background-color: #222;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: white;
				font-weight: 600;
				line-height: 1.25;
				margin-top: 0;
				margin-bottom: 0.5rem;
			}

			p {
				color: #888;
				line-height: 1.5;
			}

			.app {
				padding: 1rem;
			}
		</style>
	</head>
	<body>
		<a
			class="github-fork-ribbon"
			href="https://github.com/lilnasy/multiplayer-globe"
			data-ribbon="Fork me on GitHub"
			title="Fork me on GitHub"
		>Fork me on GitHub</a>
		<App class="app" client:only/>
	</body>
</html>
